@import url('../../main-style/style.css');

.panel-contain {
   width: 100%;
   height: 92vh;
   position: relative;
   direction: rtl;
   overflow: hidden;
}

.fa-bars {
   color: var(--jet);
}

.panel-nav {
   width: 250px;
   height: 100%;
   position: fixed;
   background-color: var(--jet);
   border-right: 20px solid var(--jet);
   transition: 0.5s;
   overflow: hidden;
}

.panel-nav.active {
   width: 70px;
}

.panel-nav ul {
   position: absolute;
   top: 4%;
   left: 0;
   width: 100%;
}

.panel-nav .fa-bars {
   font-size: 23px;
   position: absolute;
   right: 0;
}
.panel-nav ul li {
   position: relative;
   list-style: none;
   transition: 0.5s;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   cursor: pointer;
   margin-top: 37px;
   margin-right: 5px;
}

.panel-nav ul li a {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}

.panel-nav i {
   cursor: pointer;
   font-size: 20px;
}
.panel-nav ul li button a svg {
   color: var(--yellow);
}
.panel-nav ul li a .icon {
   display: block;
   position: relative;
   min-width: 60px;
   height: 60px;
   line-height: 60px;
   text-align: center;
   font-size: 1.75em;
}

.panel-nav ul li a .panel-title {
   display: flex;
   position: relative;
   height: 60px;
   line-height: 60px;
   cursor: pointer;
   align-items: center;
}

.panel-title:nth-child(1) img {
   width: 30px;
   height: 30px;
}

.panel-nav ul li button {
   background-color: transparent;
   width: 200px;
   display: flex;
   transition: 0.3s;
   justify-content: space-between;
   align-items: center;
   border: none;
   cursor: pointer;
   color: #fff;
}

.panel-nav ul li button a {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.panel-nav ul li button a svg {
   font-size: 20px;
}

.panel-nav ul li button p {
   margin-right: 30px;

   font-size: 18px;
}
.panel-nav ul li button p:hover {
   color: var(--yellow);
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}

.panel-main {
   width: calc(100% - 265px);
   position: absolute;
   height: 91.5vh;
   transition: 0.5s;
   right: 265px;
}

.panel-main.active {
   width: calc(100% - 90px);
   right: 90px;
}

a.active-panel-menu {
   color: var(--yellow) !important;
}
.panel-bar {
   position: absolute;
   top: 10px;
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
   flex-direction: row-reverse;
   padding-left: 20px;
}
.panel-logo {
   width: 80px;
   height: 80px;
   position: absolute;
   left: 20px;
   top: 18px;
   cursor: pointer;
   z-index: 20;
}
.panel-logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.left-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row-reverse;
   padding-left: 25px;
   margin-left: 62px;
}

.Hmenu {
   position: relative;
   top: 0;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}

.panel-user {
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

.cart img {
   width: 100%;
   height: 100%;
}

.panel-username {
   font-size: 21px;
}

.panel-user img {
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.panel-table {
   width: 100%;
}

.panel-courses {
   width: 100%;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: var(--light-grey);
}

.orders {
   width: 100%;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: var(--light-grey);
}

.suggestion {
   width: 100%;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: var(--light-grey);
}

.pas-conainer {
   width: 100%;
   height: 91.5vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row-reverse;
}

.pas-conainer .change-pas-img {
   width: 40%;
}

.change-pas-img img {
   width: 100%;
   height: 100%;
}

.pas-conainer form {
   width: 60%;
}
.forgot-password {
   width: 40%;
   padding: 3rem 0rem;
   display: flex;
   flex-direction: column;
   background-color: var(--jet);
   border-radius: 15px;
   /* border: 2px solid var(--yellow); */
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   justify-content: center;
   align-items: center;
}

.forgot-password .error {
   margin-right: 0;
}
.forgot-password h1 {
   text-align: center;
   font-size: 30px;
   color: #fff;
}
.password-input {
   margin: 5px 0;
   border: none;
   outline: none;
   font-size: 15px;
   background-color: transparent;
   border-bottom: 2px solid var(--yellow);
   color: var(--white);
}

.password-input::placeholder {
   color: var(--white);
}

.pas-btn-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.change-pas-btn {
   padding: 5px 30px;
   border: none;
   transition: 0.3s;
   cursor: pointer;
   border-radius: 5px;
   font-size: 17px;
   background-color: transparent;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border: 2px solid var(--yellow);
   color: var(--yellow);
   display: flex;
   justify-content: center;
   align-items: center;
}

.change-pas-btn:hover {
   background-color: var(--yellow);
   color: var(--jet);
}

.user-logo {
   position: absolute;
   left: 15px;
   top: 10px;
   height: 50px;
   margin-right: 1px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
}

.user-logo i {
   font-size: 45px;
}

.user-logo img {
   width: 100%;
   height: 100%;
   margin-right: 35px;
}

.icon-books:before {
   content: '\e920';
}

@media (max-width: 991px) {
   .panel-nav {
      right: -300px;
   }
   .panel-nav.active {
      width: 265px;
      right: 0;
   }
   .panel-main {
      width: 100%;
      right: 0;
   }
   .panel-main.active {
      right: 265px;
      left: -300px;
   }

   .table-container {
      margin: 50px 1rem;
   }
}

@media (max-width: 768px) {
   .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 7rem;
   }
   .box {
      width: 80%;
      height: 150px;
      margin: 30px 0 5px 0;
   }

   .panel-main {
      height: 93.5vh;
   }

   .pas-conainer {
      flex-direction: column;
   }

   .change-pas-img {
      display: none;
   }

   .forgot-password {
      width: 90%;
   }
   .panel-username {
      font-size: 18px;
   }
   .orders {
      font-size: 23px;
   }
}
@media (max-width: 450px) {
   .panel-nav.active {
      width: 200px;
   }
   .panel-nav ul li button p {
      font-size: 14px;
   }
   .panel-main.active .Hmenu {
      right: -98px;
      color: #fff;
   }
}
