.cuorse-container {
   width: 90%;
   margin: 10px auto;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   margin-top: 4rem;
}

.title-cuorse {
   height: 80px;
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--dark-liver);
   border-radius: 3px;
}

.title-cuorse h2 {
   direction: rtl;
   font-size: 22px;
   color: var(--snow);
}

.box-cuorse-container {
   width: 100%;
   height: auto;
   display: grid;
   margin: 50px auto;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 100px;
}

.box-container {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 20px auto;
   /*background-color: var(--Gblack);
   */
   border: 2px solid #bbb;
   padding: 20px 0;
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.box-container:hover {
   box-shadow: 3px 3px 5px #c0c0c0;
   transform: translateY(-6px);
   -webkit-transform: translateY(-6px);
   -moz-transform: translateY(-6px);
   -ms-transform: translateY(-6px);
   -o-transform: translateY(-6px);
   cursor: pointer;
}

.box-course-1 {
   width: 240px;
   cursor: pointer;
   border-radius: 7px;
}

.img-box {
   display: flex;
   justify-content: center;
   width: 100%;
}

.img-box img {
   width: 200px;
   height: 200px;
   background-repeat: no-repeat;
   background-size: cover;
}

.box-course-1 h2 {
   display: flex;
   justify-content: center;
}
.detail-course-box {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* color: var(--fosfori); */
   color: var(--Gblack);
}
@media (max-width: 991px) {
   .box-cuorse-container {
      grid-template-columns: 1fr 1fr;
   }
   .box-course-1 {
      width: 220px;
      height: 280px;
   }
}

@media (max-width: 580px) {
   .box-cuorse-container {
      grid-template-columns: 1fr;
   }
   .box-course-1 {
      width: 230px;
      height: 300px;
   }
}
