@import url('../../../../../main-style/style.css');
.course-container {
   width: 97%;
   height: auto;
   margin: 0 auto 30px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   direction: ltr;
}

.course-info {
   width: 95%;
   height: 95%;
   margin: 10px auto;
   color: var(--jet);
   border-radius: 9px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   background-color: var(--snow);
}

.course-img {
   width: 200px;
   height: 200px;
   margin: 10px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   overflow: hidden;
}

.course-img img {
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: contain;
}

.course-info-text {
   width: 80%;
   margin: 10px 20px;
   direction: rtl;
   border-radius: 5px;
   padding: 5px;
}

.course-info-text p {
   letter-spacing: 0.5px;
   line-break: auto;
   font-size: 17px;
}

.course-data {
   width: 95%;
   height: auto;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   margin: auto;
}

.course-price {
   width: 28%;
   height: 350px;
   background-color: #f1f1f1e8;
   margin: 10px 5px;
   border-radius: 9px;
   color: var(--jet);
}

.course-price.sticky {
   position: fixed;
   top: 15%;
   right: 3%;
}

.course-sessions {
   width: 68%;
   height: auto;
   margin: 10px 5px;
   border-radius: 5px;
   margin-right: auto;
}

.course-price {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.course-detils {
   direction: rtl;
   display: flex;
   flex-direction: column;
   margin-top: 5px;
}

.course-detils h2 {
   margin-top: 15px;
   font-size: 18px;
}

.course-detils:nth-child(6) {
   height: 40px;
   border-top: 2px dotted white;
}

.course-detils h2:nth-child(2) {
   height: 40px;
   border-bottom: 1px solid var(--jet);
}

.course-detils h2:nth-child(5) {
   height: 40px;
   border-bottom: 2px solid rgba(167, 165, 165, 0.856);
}

.course-detils h2:nth-child(1) {
   margin-top: -10px;
}

.course-price button {
   width: 80%;
   height: 40px;
   background-color: rgb(30, 199, 30);
   border-radius: 5px;
   font-size: 17px;
   color: var(--white);
   cursor: pointer;
   border: none;
   letter-spacing: 1px;
}

.free-course {
   width: 100%;
   color: green;
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-start;
   align-items: center;
   margin-right: 10%;
}

/* course sessions */

.accordion-container {
   margin: 10px 0;
   border: 2px solid var(--jet);
   border-radius: 7px;
}

.accordion-header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
   padding: 20px;
   position: relative;
}

.accordion-header .accordion-right {
   display: flex;
   width: 16%;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
   margin-right: 30px;
}

.session-title {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   align-items: center;
}

.accordion-left {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
}
.accordion-left svg {
   cursor: pointer;
   font-size: 18px;
   margin-right: 8px;
}

.accordion-header .session-num {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--jet);
   border-radius: 50%;
   width: 50px;
   height: 50px;
   position: absolute;
   right: -25px;
   background: white;
}

.accordion-container .lock {
   color: #c00;
}

.accordion-container.free .lock {
   color: rgb(30, 199, 30);
}

.accordion-content {
   height: 0;
   opacity: 0;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.accordion-content.show-accor {
   height: 350px;
   opacity: 1;
}

.session-video {
   width: 80%;
   height: 90%;
   margin: 0px auto;
}

.session-video video {
   width: 100%;
   height: 100%;
}

.session-num {
   font-size: 26px;
}

@media (max-width: 991px) {
   .course-detils h2 {
      font-size: 15px;
   }
}

@media (max-width: 760px) {
   .course-info {
      flex-direction: column;
      align-items: center;
   }
   .course-title h2 {
      font-size: 15px;
   }
   .course-sessions-timer h3 {
      font-size: 15px;
   }
   .course-detils h2 {
      font-size: 12px;
   }
}

@media (max-width: 970px) {
   .course-data {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: auto;
   }
   .free-course {
      margin-right: 0;
      justify-content: center;
   }
   .course-price {
      width: 100%;
      height: 350px;
   }
   .course-detils h2 {
      font-size: 16px;
   }
   .course-sessions {
      width: 100%;
      margin: 0;
   }
}

@media (max-width: 420px) {
   .course-img {
      width: 250px;
      height: 150px;
   }
   .course-sessions-timer h3 {
      font-size: 13px;
   }
   .course-title h2 {
      font-size: 13px;
   }
   .course-title {
      margin-top: 12px;
   }
}
