@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan-webfont.eot') format('eot'),
    url('../fonts/BYekan-webfont.woff') format('woff'),
    url('../fonts/BYekan-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --orange: #ee6c4d;
  --black: #293241;
  --dark-blue: #3d5a80;
  --blue: #98c1d9;
  --light-blue: #e0fbfc;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(78, 78, 78, 0.521);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(78, 78, 78, 0.767);
}
