.my-courses-container {
   width: 100%;
   height: 100vh;
}

.my-courses {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
   align-items: flex-start;
}

.my-courses-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   border-radius: 10px;
   cursor: pointer;
   border: 2px solid var(--yellow);
   background: var(--snow);
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   width: 50%;
}
.my-courses-box:hover {
   transform: translateY(-4px);
   -webkit-transform: translateY(-4px);
   -moz-transform: translateY(-4px);
   -ms-transform: translateY(-4px);
   -o-transform: translateY(-4px);
}

.my-course-name {
   margin: 10px 0;
   text-align: center;
}

.my-course-teacher-name {
   font-size: 19px;
}

.my-course-name p {
   font-size: 20px;
}

.my-course-img {
   border-radius: 10px;
   overflow: hidden;
}

.my-course-img img {
   width: 100%;
   height: 100%;
}
