.table-container {
   display: flex;
   flex-direction: column;
}
.title-table {
   padding: 20px;
}

.table-container table {
   width: 100%;
   border-collapse: collapse;
}

.info-table {
   display: flex;
   flex-wrap: wrap;
}

tr:first-child {
   border-bottom: none;
}
tr {
   border-bottom: 2px solid var(--yellow);
}

th {
   text-align: right;
   padding-right: 10px;
   color: aliceblue;
   background: var(--jet);
   height: 45px;
   font-weight: normal;
   font-size: 18px;
}

th:first-child {
   border-bottom-right-radius: 7px;
   border-top-right-radius: 7px;
}
th:last-child {
   border-bottom-left-radius: 7px;
   border-top-left-radius: 7px;
}

td {
   color: rgb(31, 31, 31);
   font-weight: normal;
   font-size: 17px;
   padding: 10px 5px;
}

td input {
   width: 40px;
   height: 30px;
   padding-left: 5px;
}

td a {
   color: gray;
   text-decoration: none;
   font-size: 15px;
}

.table-img {
   width: 80px;
   height: 90px;
   margin-left: 15px;
}

.table-img img {
   width: 100%;
   height: 100%;
   background-size: cover;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
   object-fit: cover;
}

.total-price {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.total-price table {
   border-top: 3px solid var(--jet);
   width: 100%;
   max-width: 300px;
   margin-top: 20px;
}

.total-price table tr td {
   text-align: right;
}

.total-price-detail {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.panel-details {
   margin: 20px 0;
}

.product-count,
.product-price {
   margin-left: 50px;
}

.checkout {
   margin: 25px 10px;
}

.checkout-btn {
   padding: 10px 40px;
   background-color: var(--jet);
   border-radius: 5px;
   text-decoration: none;
   color: var(--yellow);
   transition: 0.3s;
   cursor: pointer;
   outline: none;
   border: none;
}

.checkout-btn:hover {
   background-color: var(--yellow);
   color: var(--jet);
}

.trash-shop-contain {
   transform: translateX(-12px);
}

.trash-icon {
   cursor: pointer;
}
.trash-shop {
   color: rgb(235, 92, 92);
   font-size: 22px;
}

.title-shop-cart p {
   margin: 10px 0 15px 0;
}

.discount {
   background: var(--jet);
   display: flex;
   color: var(--yellow);
   justify-content: center;
   align-items: center;
   font-size: 17px;
   margin-right: 1rem;
   padding: 3px 20px;
   border-radius: 7px;
   cursor: pointer;
}

.discount button {
   border: none;
   color: var(--yellow);

   background: none;
   font-size: 17px;
   margin-right: 8px;
   cursor: pointer;
}

.discount-code {
   display: flex;
   position: relative;
   width: 100%;
   margin-top: 20px;
}

.discount-code input {
   border: 2px solid var(--jet);
   width: 200px;
   outline: none;

   padding-right: 10px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.discount-code input::placeholder {
   color: var(--jet);
}
.empty-cart {
   width: 100%;
   height: 66vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.empty-cart p {
   color: #c6c6c6;
   font-size: 1.8rem;
}
/* .discount-code button {
   border: 2px solid darkcyan;
   color: var(--white);
   padding: 5px 20px;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
   background: rgb(48, 132, 138);
   margin-right: 15px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
} */

/* shop cart end */

@media only screen and (max-width: 991px) {
   .panel-nav {
      right: -300px;
   }
   .panel-nav.active {
      width: 300px;
      right: 0;
   }
   .panel-main {
      width: 100%;
      right: 0;
   }
   .panel-main.active {
      right: 300px;
      left: -300px;
   }
}

@media only screen and (max-width: 800px) {
   .card {
      flex-direction: column;
   }
   .box {
      width: 95%;
   }
}

@media only screen and (max-width: 551px) {
   .title-shop-cart p,
   .shop-price {
      font-size: 14px;
   }
   .title-table th {
      font-size: 12px;
      width: 40px;
   }
}

@media only screen and (max-width: 320px) {
   .title-table th {
      font-size: 12px;
      width: 60px;
   }
}
