@import url('../../../main-style/style.css');

.card {
   position: relative;
   width: 100%;
   max-width: 1349px;
   height: 130px;
   display: flex;
   justify-content: space-between;
}

.box {
   position: relative;
   width: 28%;
   height: 100%;
   margin: 0 20px;
   padding: 10px;
   transition: 0.5s;
}

.card .boxs {
   position: relative;
   background: var(--jet);
   width: 100%;
   height: 80px;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
   transition: 0.3s;
}

.boxs .cardname {
   color: var(--white);
}

.number {
   position: relative;
   font-size: 2.5em;
   color: rgb(31, 35, 39);
}

.cardname {
   color: rgba(88, 97, 97, 0.945);
   font-size: 1.3em;
   margin-top: 5px;
}
.boxs:hover .cardname {
   color: var(--yellow);
}

.boxs svg {
   font-size: 1.8em;
   color: var(--white);
}

.boxs:hover {
   transform: translateY(-4px);
   -webkit-transform: translateY(-4px);
   -moz-transform: translateY(-4px);
   -ms-transform: translateY(-4px);
   -o-transform: translateY(-4px);
   box-shadow: 4px 4px 5px rgb(204, 204, 204);
}

.konkur-timer {
   display: flex;
   justify-content: flex-start;
   border: 2px solid var(--jet);
   background: var(--yellow);
   padding: 20px 0;
   margin: 10px 0px 0px 0px;
   border-radius: 10px;
   flex-direction: column;
   width: 40%;
}

.konkur-timer .timer-text {
   display: flex;
   align-items: center;
   padding: 12px;
   border-radius: 7px;
}

.today {
   justify-content: flex-start;
}
.timer-text p {
   font-size: 20px;
}

@media screen and (max-width: 800px) {
   .konkur-timer {
      margin-top: 11rem;
   }
   .timer-text p {
      font-size: 17px;
   }
}
@media screen and (max-width: 550px) {
   .konkur-timer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 11rem auto 0;
   }
   .konkur-timer .timer-text {
      width: 80%;
      margin: 0;
      padding: 15px 0;
   }
   .timer-text p {
      font-size: 15px;
   }
}
