* {
  font-family: 'BYekan';
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* .navbar {
  position: relative;
  z-index: 100;
}

.navbar .navigation {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.navbar .navigation .nav-list .item {
  list-style: none;
  text-align: center;
  margin: 50px;
}

.navbar .navigation .nav-list .link {
  text-decoration: none;
  font-size: 30px;
  transition: all 0.5s;
  color: #fff;
}

.navbar .navigation .nav-list .link:hover {
  color: #262626;
  letter-spacing: 2px;
}

.icons a {
  text-decoration: none;
  color: #262626;
  padding: 10px;
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 250px;
}

.login-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 120px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.login-button a {
  text-decoration: none;
}

.login-button p {
  color: #262626;
  font-family: 'vazir';
  padding: auto;
}

.logo a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 50px;
  top: 10px;
  left: 1200px;
  position: absolute;
} */

/* .banner {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0fbfc;
}
.banner img {
  padding: 35px;
  object-fit: cover;
  width: 800px;
  height: 450px;
  position: absolute;
} */

.section-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section ul {
  height: 100%;
}

.section-items li {
  margin: top 5px;
  padding: 0 50px 0 50px;
  list-style: none;
}

.section-items li a {
  text-decoration: none;
  color: #293241;
}

.footer-main {
  background-color: #293241;
  color: #e0fbfc;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
}

/* .footer-main .detail {
  display: flelx;
  padding: 5px;
} */

.footer-main div p {
  line-height: 20px;
  font-family: 'BYekan';
  text-align: right;
}

.footer-items {
  /*position: absolute;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-items ul li {
  padding-bottom: 20px;
  list-style: none;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50vw;
}

.footer-items ul li a {
  text-decoration: none;
  font-family: 'BYekan';
  color: #e0fbfc;
}
.detail {
  display: flex;
}
.location {
  width: 225px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.location-boy,
.location-girl {
  width: 100%;
  margin: 5px 0;
}
.location img {
  width: 100%;
}

.footer-main i {
  margin-left: 10px;
}
.item a img {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 35px;
  top: 2630px;
  object-fit: cover;
}

.location-girl a img {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 35px;
  top: 2780px;
  object-fit: cover;
}
.footer-main i {
  margin-left: 10px;
}
