@import url('../../main-style/style.css');

.main-one-part-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;
}
.title-header {
  margin-top: 20px;
  background-color: var(--Gblack);
  width: 85%;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0;
  font-size: 20px;
  color: var(--white);
}
.show-one-part {
  margin-top: 70px;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-around;
  width: 75%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.show-one-part img {
  width: 48%;
}
.show-one-part span {
  width: 62%;
  text-align: center;
  font-size: 20px;
}

.part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.part h2 {
  background-color: var(--Gblack);
  border-radius: 10px;
  color: var(--fosfori);
  margin: 20px;
  margin-left: auto;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  width: 25%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.part .ti-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--Gblack);
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--Gblack);
  color: var(--fosfori);
  transition: all 0.3s ease-in-out;
}
.part .border {
  width: 90%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--Gblack);
}
video {
  width: 80%;
  border-radius: 10px;
  object-fit: contain;
}
.courses-video-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container {
  padding-top: 20px;
  width: 30%;
  background-color: rgb(240, 240, 240);
  margin: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video-container h3 {
  margin-bottom: 0;
}

.part h3 {
  margin: 14px 0;
}
.part h4 {
  margin: 14px 0;
}
@media screen and (max-width: 990px) {
  .video-container {
    margin: 15px;
  }
  .show-one-part span {
    font-size: 17px;
    margin-right: 10px;
  }
  .show-one-part img {
    width: 270px;
    height: 270px;
  }
  .part .ti-btn h2 {
    width: 25%;
    font-size: 13px;
  }
  .part h3 {
    font-size: 18px;
  }
  .part h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 700px) {
  .title-header {
    width: 90%;
  }
  .part h2 {
    width: 35% !important;
    font-size: 13px !important;
  }
  .btn {
    width: 20%;
    font-size: 12px;
  }
  .courses-video-container {
    flex-direction: column;
  }
  .video-container {
    width: 65%;
  }
  .video-container video {
    margin-top: 20px;
  }
  .part h4 {
    margin-bottom: 2rem;
  }
  .show-one-part {
    flex-direction: column-reverse;
    width: 80%;
  }
  .show-one-part span {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .show-one-part img {
    width: 90%;
    height: 60%;
  }
  .show-one-part span {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  .title-header h1 {
    font-size: 17px !important;
  }
  .ti-btn {
    width: 75%;
    justify-content: flex-start !important;
    flex-direction: column;
  }
  .ti-btn h2 {
    margin: 20px auto;
    border-radius: 15px;
    font-size: 12px !important;
    width: 62% !important;
  }
  .ti-btn h2:hover {
    border-radius: 15px;
    background-color: #c04848;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .ti-btn .btn {
    margin: auto;
    width: 30%;
  }
  .video-container {
    width: 85%;
    padding: 0;
  }
}
