@import url('../../main-style/style.css');

.contact-us-container {
  width: 100%;
  padding: 4rem 0;
  background-color: var(--white);
}

.main-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 20px;
}
.title h1 {
  font-size: 45px;
  color: var(--Gblack);
}

.column {
  width: 30vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 70%;
  height: 200px;
  margin: 20px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.gmail {
  border: 2px solid #ea4335;
}
.gmail p {
  font-size: 15px !important;
}
.gmail p,
.telegram p,
.instagram p,
.web-site p {
  font-family: cursive;
}
.telegram {
  border: 2px solid #0077ff;
}
.instagram {
  border: 2px solid #ff0066;
}
.phone {
  border: 2px solid #009933;
}
.web-site {
  border: 2px solid var(--grey);
}
.gmail i {
  color: #ea4335;
}
.telegram i {
  color: #0077ff;
}
.instagram i {
  color: #ff0066;
}
.phone i {
  color: #009933;
}
.web-site i {
  color: var(--grey);
}
.gmail:hover {
  background-color: #ea4335;
  box-shadow: 10px 10px 20px rgb(201, 201, 201);
  border: none;
}
.telegram:hover {
  background-color: #0077ff;
  box-shadow: 10px 10px 20px rgb(201, 201, 201);
  border: none;
}
.instagram:hover {
  /* background-color: #ff0066; */
  background: rgb(245, 133, 41);
  background: linear-gradient(
    17deg,
    rgba(245, 133, 41, 1) 14%,
    rgba(221, 42, 123, 1) 53%,
    rgba(81, 91, 212, 1) 94%
  );
  box-shadow: 10px 10px 20px rgb(201, 201, 201);
  border: none;
}
.phone:hover {
  background-color: #009933;
  box-shadow: 10px 10px 20px rgb(201, 201, 201);
  border: none;
}
.web-site:hover {
  background-color: var(--grey);
  box-shadow: 10px 10px 20px rgb(201, 201, 201);
  border: none;
}
.contact i {
  font-size: 50px;
  transform: translate(0, 20px);
  transition: all 0.5s ease-in-out;
}
.contact:hover i {
  transform: translate(0, -20px);
}
.contact:hover {
  transform: translateY(-6px);
  cursor: pointer;
}
.contact:hover i,
.contact:hover p,
.contact:hover a {
  color: var(--white);
}

.contact:hover p,
.contact:hover a {
  opacity: 1;
}
.contact p {
  font-size: 18px;
}
.text {
  opacity: 0;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}

.contact .fa-phone {
  transform: translate(0, 30px) !important;
  -webkit-transform: translate(0, 30px) !important;
  -moz-transform: translate(0, 30px) !important;
  -ms-transform: translate(0, 30px) !important;
  -o-transform: translate(0, 30px) !important;
}

.contact:hover .fa-phone {
  transform: translate(0, -10px) !important;
  -webkit-transform: translate(0, -10px) !important;
  -moz-transform: translate(0, -10px) !important;
  -ms-transform: translate(0, -10px) !important;
  -o-transform: translate(0, -10px) !important;
}

@media screen and (max-width: 990px) {
  .main-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .column {
    width: 60%;
  }
  .contact {
    width: 70%;
  }
  .title h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .main-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .column {
    width: 80%;
  }
  .contact {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .main-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .column {
    width: 80%;
  }
  .contact {
    width: 100%;
  }
  .title h1 {
    font-size: 30px;
  }
}
