.financial-contianer {
   padding: 30px;
   width: 50%;
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
   margin: auto;
}
.contianer-detiale {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 20px;
   margin: 2rem 0px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   overflow: hidden;
}
.financial-contianer-title {
   background-color: var(--yellow);
   width: 100%;
   color: var(--jet);
   display: flex;
   align-items: center;
   justify-content: center;
}
.financial-contianer-title h2 {
   font-size: 18px;
   padding: 20px;
}
.financial-contianer-detiale {
   width: 100%;
   color: var(--jet);
   background-color: var(--snow);
}
.financial-contianer-detiale div {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.financial-contianer-detiale div h3,
div span {
   padding: 20px;
   font-size: 18px;
}
.financial-contianer-detiale div h3 {
   font-size: 16px;
}
.contianer-detiale-border {
   width: 100%;
   height: 2px;
   border-radius: 10px;
}

@media screen and (max-width: 784px) {
   .financial-contianer {
      width: 80%;
      margin-top: 5rem;
   }
}
@media screen and (max-width: 460px) {
   .financial-contianer {
      width: 100%;
      padding: 15px;
   }
   .financial-contianer-detiale div h3 {
      font-size: 14px;
   }
   .financial-contianer-detiale span {
      font-size: 14px;
   }
}
