@import url('../../../main-style/style.css');

.contact-us-container {
   width: 100%;
}

.main-contact {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
}

.title {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 20px;
}
.title h1 {
   font-size: 45px;
   color: var(--jet);
}

.column {
   width: 30vw;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 10px;
}
.column svg {
   font-size: 45px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 20px;
   width: 70%;
   height: 200px;
   margin: 20px;
   transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
}
.gmail p,
.telegram p,
.instagram p,
.web-site p {
   font-family: cursive;
}
.phone {
   border: 2px solid var(--jet);
}
.gmail,
.web-site,
.instagram,
.telegram {
   border: 2px solid var(--jet);
}
.gmail svg,
.web-site svg,
.instagram svg,
.telegram svg {
   transform: translateY(10px);
}
.phone svg {
   transform: translateY(30px);
   -webkit-transform: translateY(30px);
   -moz-transform: translateY(30px);
   -ms-transform: translateY(30px);
   -o-transform: translateY(30px);
}
.gmail:hover svg,
.web-site:hover svg,
.instagram:hover svg,
.telegram:hover svg,
.phone:hover svg {
   transform: translateY(0);
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
   -ms-transform: translateY(0);
   -o-transform: translateY(0);
}
.gmail:hover,
.telegram:hover,
.instagram:hover,
.phone:hover,
.web-site:hover {
   box-shadow: 10px 10px 20px rgb(201, 201, 201);
   border: none;
}
.gmail:hover {
   background-color: #ea4335;
}
.telegram:hover {
   background-color: #35ade1;
}
.instagram:hover {
   background: rgb(245, 133, 41);
   background: linear-gradient(
      17deg,
      rgba(245, 133, 41, 1) 14%,
      rgba(221, 42, 123, 1) 53%,
      rgba(81, 91, 212, 1) 94%
   );
}
.phone:hover {
   background-color: #31e05d;
}
.web-site:hover {
   background-color: var(--grey);
}
.contact i {
   font-size: 50px;
   transform: translate(0, 20px);
   transition: all 0.5s ease-in-out;
}
.contact:hover i {
   transform: translate(0, -20px);
}
.contact:hover {
   transform: translateY(-6px);
   cursor: pointer;
}
.contact:hover i,
.contact:hover p,
.contact:hover a {
   color: var(--white);
}

.contact:hover svg {
   color: var(--white);
}

.contact:hover p,
.contact:hover a {
   opacity: 1;
}
.contact p {
   font-size: 18px;
}
.text {
   opacity: 0;
   color: var(--white);
   transition: all 0.5s ease-in-out;
}

.contact .fa-phone {
   transform: translate(0, 30px) !important;
   -webkit-transform: translate(0, 30px) !important;
   -moz-transform: translate(0, 30px) !important;
   -ms-transform: translate(0, 30px) !important;
   -o-transform: translate(0, 30px) !important;
}

.contact:hover .fa-phone {
   transform: translate(0, -10px) !important;
   -webkit-transform: translate(0, -10px) !important;
   -moz-transform: translate(0, -10px) !important;
   -ms-transform: translate(0, -10px) !important;
   -o-transform: translate(0, -10px) !important;
}

@media screen and (max-width: 990px) {
   .main-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
   .column {
      width: 60%;
   }
   .contact {
      width: 70%;
   }
   .title h1 {
      font-size: 35px;
   }
}
@media screen and (max-width: 600px) {
   .main-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
   .column {
      width: 80%;
   }
   .contact {
      width: 100%;
   }
}
@media screen and (max-width: 420px) {
   .main-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
   .column {
      width: 80%;
   }
   .contact {
      width: 100%;
   }
   .title h1 {
      font-size: 30px;
   }
}
