.page-not-found-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.not-found-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-img img {
  width: 50%;
}
.not-found-text {
  font-size: 25px;
  text-align: center;
  font-weight: 100;
  color: #747474;
}

@media screen and (max-width: 600px) {
  .not-found-text {
    font-size: 20px;
    margin-top: 30px;
  }
  .not-found-img img {
    width: 60%;
  }
}
@media screen and (max-width: 320px) {
  .not-found-text {
    font-size: 17px;
  }
}
