.courses-boxes-container {
   width: 100%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.courses-boxes {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
}

.courses-boxes-title h3 {
   font-size: 24px;
   color: var(--celadon-blue);
}

.course-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: var(--celadon-blue);
   border-radius: 12px;
   padding: 3rem 4rem;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
}

.course-icon {
   color: #fff;
   font-size: 6rem;
}

.course-box:hover {
   transform: translateY(-4px);
   -webkit-transform: translateY(-4px);
   -moz-transform: translateY(-4px);
   -ms-transform: translateY(-4px);
   -o-transform: translateY(-4px);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.22);
   background-color: var(--snow);
}

.course-box:hover svg {
   color: var(--celadon-blue);
}

.course-box:hover p {
   color: var(--celadon-blue);
}

.courses-boxes-title {
   margin: 3rem 0;
   width: 100%;
   display: flex;
   justify-content: center;
}

.course-box-img {
   width: 250px;
   height: 250px;
   overflow: hidden;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
}

.course-box-text {
   margin-top: 1rem;
}
.course-box-text p {
   font-size: 20px;
   color: var(--snow);
}

.course-box-img img {
   width: 100%;
   height: 100%;
}
