.main-container-question {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   width: 100%;
   padding: 20px;
   margin-top: 4rem;
}
.header-question {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 80%;
}
.header-question h1 {
   font-size: 35px;
   margin-bottom: 30px;
}
.header-question p {
   font-size: 25px;
}
.border-question {
   background-color: var(--yellow);
   padding: 4px;
   border-radius: 5px;
   margin-top: 20px;
   width: 70%;
   text-align: center;
}
.questions {
   width: 80%;
   margin: 150px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.accordion {
   width: 100%;
   position: relative;
   background: var(--jet);
   margin: 10px 0;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   overflow: hidden;
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}
.questions h2 {
   margin-bottom: 30px;
   text-align: right;
   font-size: 18px;
   width: 100%;
}
.accordion-icon {
   position: absolute;
   left: 10px;
   top: 15px;
   font-size: 21px;
}
.accordion .accordion-title {
   font-size: 18px;
   padding: 10px;
   color: var(--yellow);
   cursor: pointer;
   text-align: right;
   margin-bottom: 10px;
   border-radius: 10px;
}

.accordion .accordion-answer {
   height: 0px;
}

.accordion-answer p {
   color: var(--yellow);
   display: flex;
   justify-content: flex-end;
}

.accordion.show-answer .accordion-answer {
   height: auto !important;
   padding: 20px;
}

@media screen and (max-width: 700px) {
   .header-question {
      width: 100%;
   }
   .header-question h1 {
      font-size: 30px;
      margin-bottom: 10px;
   }
   .header-question p {
      font-size: 20px;
   }

   .questions {
      width: 100%;
   }

   .questions h2 {
      font-size: 15px;
      margin-bottom: 20px;
   }
   .accordion .accordion-answer {
      font-size: 15px;
   }
   .accordion .accordion-title {
      font-size: 13px;
      padding: 4px;
   }
   .accordion-title p {
      margin-right: 6px;
      margin-top: 5px;
   }
   .accordion-icon {
      top: 8px !important;
   }
}
@media screen and (max-width: 430px) {
   .header-question {
      width: 100%;
   }
   .header-question h1 {
      font-size: 25px;
   }
   .header-question p {
      font-size: 15px;
   }
   .questions {
      width: 100%;
   }
   .questions h2 {
      font-size: 12px;
      margin-bottom: 10px;
   }
   .accordion .accordion-title {
      font-size: 11px;
      padding: 2px;
   }
   .accordion .accordion-answer {
      font-size: 12px;
   }
   .accordion-icon {
      top: 5px !important;
   }
}
