:root {
  --light-blue: #00b4d8;
  --dark-blue: #03045e;
  --white: #f8f9fa;
  --light-grey: #dee2e6;
  --grey: #adb5bd;
  --dark-grey: #495057;
  --black: #212529;
  --yellow: #fed03d;
  --Gblack: #051a1c;
  --fosfori: #2bdbc2;
  --red: #c00;
  --blue: #2bd1db;
}
