:root {
  --white: #f8f9fa;
  --light-grey: #dee2e6;
  --grey: #adb5bd;
  --dark-grey: #495057;
  --black: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-blue);
}

.courses {
  padding: 2rem;
  margin-top: 5rem;
}

.courses-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  width: auto;
  margin: auto;
  padding: 3rem 1rem;
  row-gap: 1rem;
  justify-items: center;
  border-radius: 8px;
  background: var(--light-grey);
  box-shadow: 7px 7px 14px #3a4046, -7px -7px 14px #586068;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 10px solid var(--dark-grey);
}

.item {
  padding: 1rem 1rem 1.5rem;
  background-color: var(--light-blue);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.image img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  cursor: pointer;
}

/* ====== responsiv ======= */
@media screen and (min-width: 650px) {
  .courses-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .courses-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .courses-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
