:root {
  --white: #f8f9fa;
  --light-grey: #c6c6c6;
  --grey: #adb5bd;
  --dark-grey: #363636;
  --black: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  background-color: var(--light-blue);
} */

.courses {
  padding: 2rem;
  margin-top: 5rem;
}

.courses-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  width: auto;
  margin: auto;
  padding: 3rem 1rem;
  row-gap: 1rem;
  justify-items: center;
  border-radius: 8px;
  background: var(--light-grey);
  box-shadow: 13px 13px 26px #2e2e2e, -13px -13px 26px #3e3e3e;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 10px solid var(--dark-grey);
  overflow: hidden;
}

.courses-container .item {
  padding: 1rem 1rem 1.5rem;
  background-color: var(--light-grey);
  /* box-shadow: 13px 13px 19px #bcbcbc, -13px -13px 19px #d0d0d0; */
  /* background: linear-gradient(145deg, #b2b2b2, #d4d4d4); */
  box-shadow: 8px 8px 16px #a4a4a4, -8px -8px 16px #e8e8e8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.image img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  cursor: pointer;
}

/* ====== responsiv ======= */
@media screen and (min-width: 650px) {
  .courses-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .courses-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .courses-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
