@import url('../../../main-style/style.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  padding: 3rem 1rem 1rem 1rem;
  margin-top: 2rem;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.home-page h2 {
  margin: 2rem;
  text-align: center;
  position: relative;
  color: #767e7e;
  font-size: 25px;
}
.home-courses {
  border-radius: 15px;
  margin: 0 2rem;
  padding: 15px 7rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.home-courses img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.all-courses {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-courses button {
  border-radius: 8px;
  background: #d9d9d9;
  box-shadow: 6px 6px 12px #b8b8b8, -6px -6px 12px #fafafa;
  border: none;
  padding: 8px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--dark-grey);
  font-size: 20px;
  cursor: pointer;
}
.all-courses button a {
  text-decoration: none;
  color: var(--white);
}

.banner-container {
  width: 100%;
  /* height: 600px; */
  /* background-color: aqua; */
}
.item .name {
  /* color: var(--black); */ /*dark mode*/
  color: #fefefe;
}

.banner {
  width: 100%;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner-gallery {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.banner-slide {
  width: 100%;
  /* height: 400px; */
}

.banner-slide img {
  width: 100%;
  height: 400px;
  /* object-fit: contain; */
}

.mySwiper {
  margin: 0 0 2rem 0;
  /* width: 100%; */
  padding: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--black);
  font-size: 16px;
}

.swiper-button-next {
  left: -5px !important;
}
.swiper-button-prev {
  right: -5px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 26px;
}

.home-courses .item {
  padding: 10px 10px 1.5rem;
  border-radius: 8px;
  background-color: var(--Gblack);
}
.teacher-gallery {
  border-radius: 15px;
  margin: 2rem;
  border-radius: 10px;
  padding: 20px 0;
  padding-bottom: 3rem;
}
.teacher {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  border-radius: 8px;
  margin-bottom: 25px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.teacher-swiper {
  margin: 0 4rem;
}

.lesson {
  text-align: center;
  color: var(--black);
}
.name {
  color: var(--black);
}
.swiper-pagination {
  display: none !important;
}

.teacher-header {
  /* color: var(--white) !important; */
  color: #767e7e;
}

.all-courses button {
  border-radius: 8px;
  /* background: #dee2e6;
  border: 6px solid var(--dark-grey);
  box-shadow: 9px 9px 18px #2a2a2a, -9px -9px 18px #424242; */
  background-color: #c00;
  color: #fefefe;
  margin-top: 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

/* Consultation */

.consultation-container {
  border-radius: 15px;
  /* background: var(--light-grey);
  box-shadow: 9px 9px 18px #3b4146, -9px -9px 18px #575f68; */
  background-color: white;
  padding: 1rem 10px;
  margin: 1rem 2rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  /* border: 10px solid var(--dark-grey); */
  /* background-image: url('images/cons/jpeg');s */
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}
.consultation-container img {
  object-fit: contain;
  width: 65%;
  height: 100%;
  position: absolute;
  top: 6px;
  left: 130px;
  border-radius: 15px;
}

.consultation {
  margin-right: -15%;
  margin: 4rem 25rem;
  border-radius: 8px;
  /* background: var(--light-grey); */
  /* box-shadow: 8px 8px 24px #9ca3aa, -8px -8px 24px #bec7d0; */
  background-color: var(--yellow);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 4rem 5rem;
  padding-bottom: 3rem;
  /* background-image: url('./cons.jpg'); */
  z-index: 10;
  margin-right: -10%;
}

.consultation .error {
  margin-right: 10px;
}

.consultation h2 {
  /* color: var(--dark-grey); */
  /* color: #e6e6e6; */
  color: var(--black);
  font-size: 26px;
  margin-top: 5px;
}

.cons-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cons-btn button {
  /*background-color: var(--dark-grey);
  color: var(--white);
  */
  background-color: transparent;
  color: var(--black);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid var(--black);
  outline: none;
  padding: 5px 25px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.cons-btn button:hover {
  color: var(--white);
  background-color: var(--black);
}

.consultation-form .input-container input {
  border-bottom: 1px solid var(--black);
  color: var(--Gblack);
}

.consultation-form .input-container input::placeholder {
  color: var(--black);
}

.back-to-top {
  width: 30px;
  height: 30px;
  background-color: var(--violet-2);
  /* margin-right: 20px; */
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.back-to-top i {
  color: var(--white);
}
.back-to-top:hover {
  text-decoration: none !important;
}

/* media query's */

@media screen and (max-width: 1147px) {
  .consultation {
    margin-right: 0.3rem;
  }
  .consultation-container img {
    width: 80%;
  }
}
@media screen and (max-width: 919px) {
  .home-courses {
    padding: 15px 0;
  }

  .consultation-container img {
    display: none;
  }

  .consultation-container {
    background: var(--white);
  }

  .consultation {
    margin: 4rem 7rem;
    background: var(--yellow);
    width: 50%;
    padding: 4rem 2.5rem;
  }
  .consultation h2 {
    font-size: 22px;
  }
  .footer-main {
    flex-direction: column;
  }

  .footer-right {
    width: 100%;
  }

  .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 730px) {
  .consultation-container {
    background-color: transparent;
    box-shadow: none;
  }
  .consultation {
    margin: 4rem -1rem;
    width: 100%;
    padding-top: 1rem;
  }
  .consultation h2 {
    font-size: 18px;
    margin: 2rem 0;
  }
  .consultation input::placeholder {
    font-size: 15px;
  }
  .consultation input {
    width: 100%;
    background-color: transparent !important;
  }
  .consultation .error {
    font-size: 13px;
  }
  .mySwiper {
    margin: 3rem !important;
  }

  .teacher .lesson {
    font-size: 15px;
  }

  .teacher-gallery .teacher-swiper {
    margin: 0 1.5rem;
  }

  .all-courses button {
    font-size: 17px;
  }
  .banner-slide img {
    object-fit: contain;
    height: 23rem;
  }
  .banner-gallery {
    margin-top: -5rem;
    margin-bottom: -2rem;
  }
  .banner-slide {
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .banner-slide img {
    height: 19rem;
  }
}

@media screen and (max-width: 450px) {
  .home-courses,
  .teacher-gallery,
  .consultation-container {
    margin: 0;
  }

  .consultation-container {
    padding: 0;
  }

  .mySwiper {
    margin: 3rem 0 !important;
  }
  .home-courses h2 {
    font-size: 22px;
    margin: 0;
  }
  .name {
    font-size: 14px;
  }

  .all-courses button {
    font-size: 13px;
    margin: 0 17px;
  }

  .banner-slide img {
    height: 15rem;
  }

  .footer-container {
    margin: 1rem 0;
    border-bottom: 2px solid var(--white);
    justify-content: center;
    width: 100%;
    padding: 0 1rem 2rem 1rem;
  }

  .detail {
    margin: 1rem 0;
  }

  .footer-right {
    flex-direction: column;
  }
}
