@import url('../../main-style/style.css');

.main-provision {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* margin-top: 2rem; */
}
.main-provision .paragraph {
   padding: 20px;
   margin: 1.5rem 0;
   font-size: 20px;
   width: 70%;
   /* text-align: center; */
   direction: rtl;
}
.main-provision .header-provision {
   width: 90%;
   margin: 2rem 0;
}
.border-provision {
   background-color: var(--yellow);
   width: 60% !important;
   height: 4px;
   padding: 0;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.main-provision .header-provision h4 {
   font-size: 25px;
   text-align: center;
}
@media screen and (max-width: 500px) {
   .main-provision div {
      font-size: 17px;
   }

   .main-provision .header-provision h4 {
      font-size: 17px;
   }
}
