@import url('../../../../../main-style/style.css');

.courses-package-container {
   width: 100%;
   height: 100vh;
   margin-top: 2rem;
   direction: rtl;
}

.package-title {
   width: 98%;
   margin: 0 auto;
   height: 18rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--jet);
   border-radius: 10px;
}

.package-title h3 {
   font-size: 40px;
   color: var(--yellow);
}

.filters-tab-bar {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 60px 0;
}

.filter-items {
   display: flex;
   justify-content: space-around;
   width: 35%;
}

.filter-item button {
   border: none;
   outline: none;
   background: none;
   font-size: 20px;
   cursor: pointer;
   padding: 5px 10px;
   border-radius: 7px;
}

.filter-item button.active {
   background: var(--yellow);
   color: var(--jet);
}

.loader {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35vh;
   color: blue;
}
