@import url('../../main-style/style.css');

header {
   width: 100%;
   height: auto;
}
nav {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 100;
   position: fixed;
   top: 0;
   background-color: var(--white);
}

nav.sticky {
   box-shadow: 1px 1px 4px #cccc, 1px 0px 4px #d8d8d8;
}

.top-nav {
   padding: 5px;
   background-color: #fff;
   display: flex;
   align-items: center;
   width: 100%;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   justify-content: space-between;
   flex-direction: row;
}

.left-flex {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 25%;
}

.logo {
   width: 50px;
   height: 50px;
   overflow: hidden;
   margin-left: 40px;
}
.logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   overflow: hidden;
}

.login-button {
   width: 125px;
   background: var(--Gblack);
   border: 2px solid var(--Gblack);
   padding: 8px 0;
   margin-right: 47px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   transition: all 0.3s ease-in;
   -webkit-transition: all 0.3s ease-in;
   -moz-transition: all 0.3s ease-in;
   -ms-transition: all 0.3s ease-in;
   -o-transition: all 0.3s ease-in;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.username {
   cursor: pointer;
   margin-right: 28px;
}

.username a {
   color: var(--dark-grey);
   font-size: 18px;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}

.username a:hover {
   color: var(--black);
}

.login-button:hover {
   background-color: transparent;
   color: var(--Gblack);
}

.login-button:hover a {
   color: var(--Gblack);
}

.login-button a {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #2bdbc2;
}

.icons {
   padding-left: 10px;
}
.icons i {
   padding: 0 10px;
   font-size: 20px;
   color: black;
}

.menu {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   width: 65%;
   list-style: none;
}

.menu .menu-item {
   background-color: transparent;
   transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   color: var(--dark-grey);
}

.menu-item:hover .menu-link {
   color: var(--white);
   background-color: var(--Gblack);
}

.menu-link.active {
   color: var(--fosfori) !important;
   background-color: var(--Gblack);
}

.menu .menu-link {
   text-decoration: none;
   color: var(--black);
   padding: 5px 15px;
   border-radius: 5px;
   transition: all 0.15s linear;
   -webkit-transition: all 0.15s linear;
   -moz-transition: all 0.15s linear;
   -ms-transition: all 0.15s linear;
   -o-transition: all 0.15s linear;
}
.mobile-menu {
   display: none;
}
.close-btn {
   display: none;
}

/* ======== responsiv ======== */

@media screen and (max-width: 1200px) {
   .left-flex {
      width: 35%;
   }
   .logo {
      margin-left: 0;
   }
}

@media screen and (max-width: 800px) {
   .left-flex {
      width: 50%;
   }
}
@media screen and (max-width: 750px) {
   nav {
      height: 45px;
   }
   .top-nav {
      width: 100%;
      position: absolute;
      top: -100vh;
      height: 100vh;
      flex-direction: column;
   }
   .left-flex {
      justify-content: flex-start;
      flex-direction: row-reverse;
      width: 100%;
      margin-right: 20px;
   }
   .logo {
      position: relative;
   }
   .menu {
      position: absolute;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 20%;
   }
   .menu .menu-item {
      margin: 1.4rem 0;
      padding: 5px 10vw;
   }
   .mobile-menu {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 27px;
      height: 21px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 10;
   }

   .close-btn {
      position: absolute;
      display: block;
      top: 10px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      animation: closeMenu 0.8s 0.3s forwards;
      -webkit-animation: closeMenu 0.8s 0.3s forwards;
   }

   .open-btn {
      animation: openMenu 0.8s 0.3 forwards;
      -webkit-animation: openMenu 0.8s 0.3 forwards;
   }
   .close-btn .bar {
      width: 100%;
      height: 5px;
      background-color: var(--white);
      position: absolute;
      right: 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      z-index: 10;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
   }
   .close-btn .bar:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
      -webkit-transform: rotate(45deg) translate(6px, 6px);
      -moz-transform: rotate(45deg) translate(6px, 6px);
      -ms-transform: rotate(45deg) translate(6px, 6px);
      -o-transform: rotate(45deg) translate(6px, 6px);
   }
   .close-btn .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      -webkit-transform: rotate(-45deg) translate(5px, -5px);
      -moz-transform: rotate(-45deg) translate(5px, -5px);
      -ms-transform: rotate(-45deg) translate(5px, -5px);
      -o-transform: rotate(-45deg) translate(5px, -5px);
   }
   .close-btn .bar:nth-child(2) {
      opacity: 0;
   }
   .show-menu {
      top: 0;
      transition: all 0.3s 0.7s ease-in-out;
      -webkit-transition: all 0.3s 0.7s ease-in-out;
      -moz-transition: all 0.3s 0.7s ease-in-out;
      -ms-transition: all 0.3s 0.7s ease-in-out;
      -o-transition: all 0.3s 0.7s ease-in-out;
   }
   .mobile-menu .bar {
      width: 100%;
      height: 5px;
      background-color: var(--dark-grey);
      position: absolute;
      right: 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      z-index: 10;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
   }
   .bar:nth-child(1) {
      top: 0;
   }
   .bar:nth-child(2) {
      top: 8px;
   }
   .bar:nth-child(3) {
      top: 16px;
   }
}

/* @media screen and (max-width: 400px) {
   .close-btn {
      left: 92%;
   }
} */
@keyframes closeMenu {
   0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
   }
   100% {
      transform: translateX(-90vw);
      -webkit-transform: translateX(-90vw);
      -moz-transform: translateX(-90vw);
      -ms-transform: translateX(-90vw);
      -o-transform: translateX(-90vw);
      left: 92%;
   }
}
/* @keyframes openMenu {
   0% {
      transform: translateX(-90vw);
      -webkit-transform: translateX(-90vw);
      -moz-transform: translateX(-90vw);
      -ms-transform: translateX(-90vw);
      -o-transform: translateX(-90vw);
   }
   100% {
      transform: translateX(90vw);
      -webkit-transform: translateX(90vw);
      -moz-transform: translateX(90vw);
      -ms-transform: translateX(90vw);
      -o-transform: translateX(90vw);
   }
} */
