@import url('../../main-style/style.css');

.teacher-gallery-item {
   width: 350px;
   height: 300px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   /* border: 2px solid var(--light-jet); */
   border-radius: 10px;
   overflow: hidden;
   box-shadow: inset 2px 2px 7px rgb(219, 219, 219);
   transition: background 0.2s ease-in-out;
   -webkit-transition: background 0.2s ease-in-out;
   -moz-transition: background 0.2s ease-in-out;
   -ms-transition: background 0.2s ease-in-out;
   -o-transition: background 0.2s ease-in-out;
   cursor: pointer;
}

.teacher-gallery-item:hover {
   background-color: rgba(0, 0, 0, 0.26);
   box-shadow: none;
   border: none;
}

.teacher-gallery-item:hover .teacher-information {
   opacity: 1;
}

.teacher-gallery-item img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   padding-top: 10px;
   object-fit: contain;
}

.teacher-information {
   transition: all 0.2s ease-in-out;
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   background-color: var(--jet);
   width: 100%;
   padding: 8px;
}

.teacher-gallery-item .teacher-name {
   color: var(--yellow);
   font-size: 20px;
   text-align: center;
}

.teacher-gallery-item .teacher-reshte {
   font-size: 18px;
   color: var(--yellow);
   text-align: center;
}
