:root {
  --white: #f8f9fa;
  --light-grey: #dee2e6;
  --grey: #adb5bd;
  --dark-grey: #495057;
  --black: #212529;
}

body {
  direction: rtl;
  /* background-color: var(--blue); */
}

* {
  font-family: 'BYekan';
}

.form {
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--light-grey);
  box-shadow: 7px 7px 14px #dadada, -7px -7px 14px #ffffff;
}

.form-container {
  width: 90%;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  background: var(--light-grey);
  box-shadow: 9px 9px 31px #a8a8a8, -9px -9px 31px #e4e4e4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 2rem;
}

.header {
  text-align: center;
  color: var(--black);
  font-size: 1.35rem;
  font-family: 'BYekan';
  padding-bottom: 34px;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  width: 222px;
  height: 1px;
  bottom: 11px;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--black);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 15px 0;
}
.input-container input {
  width: 90%;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid var(--black);
  /* color: var(--light-blue); */
  outline: none;
  margin: auto;
  background-color: transparent;
}
input::placeholder {
  font-family: 'BYekan';
  color: var(--black);
}
.input-container label {
  padding: 10px 0;
  text-align: center;
  background-color: transparent;
}
.input-container span {
  position: absolute;
  right: 8px;
  top: 45px;
  font-size: 19px;
}

.submit {
  margin: 10px auto;
  display: block;
  width: 105px;
  border: none;
  color: var(--white);
  background-color: var(--dark-blue);
  padding: 7px 15px;
  font-family: 'BYekan';
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.error {
  color: rgb(184, 61, 61);
  margin-right: 17px;
  margin-top: 4px;
  margin-left: auto;
}

.btns {
  display: flex;
  flex-direction: column;
}

.register {
  color: var(--dark-blue);
  display: block;
  margin: 1rem auto;
}
.register:hover {
  text-decoration: none;
  color: var(--dark-blue);
}

.get-code-text {
  text-align: center;
}

.input-code {
  width: 60%;
  display: block;
  margin: auto;
  border: 2px solid rgb(172, 172, 172);
  border-radius: 5px;
  margin: 2rem auto;
  padding: 5px 0;
  outline: none;
}
.resend {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.resend-code-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.resend-code-btn span {
  color: green;
  margin-top: 3px;
  margin-right: 5px;
  font-size: 16px;
}
.resend-text {
  border: none;
  background: transparent;
  color: green;
  font-family: 'BYekan';
}

.resend-code-text {
  margin: 0;
}

.forget-code {
  color: black;
  /* margin-left: auto */
  text-align: center;
}
.forget-code:hover {
  text-decoration: none;
  color: black;
}

.input-container select {
  width: 90%;
  font-family: 'BYekan';
  margin: auto;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgb(155, 155, 155);
  outline: none;
}

.change-password {
  padding: 10px 0;
}

#grade {
  width: 91%;
  margin: auto;
  border: none;
}

/* ===== Responsive ===== */

@media screen and (min-width: 425px) {
  .form-container {
    width: 75%;
  }
}
@media screen and (min-width: 720px) {
  .form-container {
    width: 60%;
  }
  .error {
    margin-right: 23px;
  }
}
@media screen and (min-width: 900px) {
  .form-container {
    width: 37%;
  }
}
